{% extends 'base.html' %}
	{% block title %} blogPost {% endblock %}
    {% block body %} 
{% load static %}
{% load humanize %}
{% load extras %}
<div class="container my-3">
	<h2 class="blog-post-title">{{post.title}}</h2>
	<p class="blog-post-meta">{{post.timeStemp}} By <a href="/about">{{post.author}}</a>
		(<span>{{post.views}} views</span>)
	</p>
	<p>{{post.content|safe}}</p>
	<hr>
</div>
<div class="container">
	<h2>Comments ({{comments.count}})</h2>
	<div class="my-2">
		{% if user.is_authenticated %}
		<form action="/blog/postcomment" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label>Post comment </label>
			<input type="text" class="form-control" name="comment" placeholder="enter comment here">
			<input type="hidden" name="parentSno" value="">
		</div>
		<input type="hidden" name="postSno" value="{{post.sno}}">
		<input type="submit" class="btn btn-primary" value="submit">
		</form>
		{% else %}
		<p>please Login to post a comment </p>
		{% endif %}
	</div>
	

	

	{% for comment in comments %}
	<div class="row my-3">
		<div class="col-md-1">
		 <img class="rounded mx-auto d-block w-100 p-2 border border-info" src="{% static '/img/3.png' %}" > 
		</div>
		<div class="col-md-11">
			 <b>{{comment.user.username}}</b>
			 <span class="badge badge-dark">{{comment.timestemp| naturaltime }}</span> 
			<div> {{comment.comment}}</div>
			<div class="reply mx-0">
				{% if user.is_authenticated %}

				<button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#replyBox{{comment.sno}}" aria-expanded="false" aria-controls="replyBox{{comment.sno}}">
					Reply
				</button>
				<div class="collapse" id="replyBox{{comment.sno}}">
					<div class="card card-body my-2">
						<form action="/blog/postcomment" method="post">
						{% csrf_token %}
						<div class="form-group">
							<label for="comment">Post a Reply </label>
							<input type="text" class="form-control" name="comment" placeholder="enter comment here">
							<input type="hidden" name="parentSno" value="{{comment.sno}}">

						</div>
						<input type="hidden" name="postSno" value="{{post.sno}}">
						<input type="submit" class="btn btn-primary" value="submit">
						</form>
					</div>
				</div>
				{% else %}

				<button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#replyBox{{comment.sno}}" aria-expanded="false" aria-controls="replyBox{{comment.sno}}" disabled>
				login to Reply
				</button>
				{% endif %}
				<div class="replies my-2">
					{% for reply in replyDict|get_val:comment.sno %}
					<div class="row my-2">
						<div class="col-md-1">
		 					<img class="rounded mx-auto d-block w-100 p-2 border border-info" src="{% static '/img/3.png' %}" > 
				   		</div>
				   		<div class="col-md-11 my-3">
							 <b>{{reply.user.username}}</b>
							 <span class="badge badge-dark">{{reply.timestemp| naturaltime }}</span> 
							<div> {{reply.comment}}</div>
									<!-- 	{{reply.comment}} -->
				   		</div>
				   		<br>
					</div>
					{% endfor %}
					
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
     {% endblock %}
